<main class="container">
  <%= turbo_frame_tag "first_turbo_frame" do %>
    <div class="header">
      <h1>Projects</h1>
      <%= render "form" ,project: current_user.projects.new%>
    </div>
    <%= render 'bugs/form',bug: current_user.bugs.new %>
  <% end %>

  <%= turbo_frame_tag "second_frame" do %>
  <%= render partial: "project", collection: @projects %>
  <% end %>
</main>